.matcardT{
    width: 300px;
    height: 270px;
    text-align: center;
    top: 15%;
    left: 35%;;

}
.matcardIS{
    margin-bottom: 30px;
    padding-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

