<mat-card class="matcardT">
    <mat-card-title class="matcardIS">Iniciar Sesion</mat-card-title>
    <mat-card-content>
        <p>
            <mat-form-field>
                <input type="text" [(ngModel)] = "usuario" matInput placeholder="Legajo">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input type="password" [(ngModel)] = "password" matInput placeholder="Password">
            </mat-form-field>
        </p><br>
        <div>
            <button mat-raised-button color="primary" (click)="logueo()">Iniciar</button>
        </div>
    </mat-card-content>
</mat-card>
