<mat-drawer-container class="drawerext">
  <mat-drawer #dver mode="side" class="sideT">
    <div class="divext">
      <span class="logo logo-left">Heavy </span>
      <span class="logo logo-right">Machine</span>
    </div><br>
    <div>
      <ul>
        <li>
          <a [routerLink]="['home']">Home</a>
        </li>
        <li>
          <a>Clientes</a>
        </li>
        <li>
          <a>Login</a>
        </li>
      </ul>
    </div>
  </mat-drawer>
  <div>
    <button mat-raised-button color="default" (click) = "dver.toggle()"> >> </button>
  </div><br>
    
  <router-outlet></router-outlet>
</mat-drawer-container>