<mat-drawer-container class="drawerext">
  <mat-drawer #dver mode="side" class="sideT">
    <div class="divext">
      <span class="logo logo-left">Heavy </span>
      <span class="logo logo-right">Machine</span>
    </div><br>
    <div>
      <ul>
        <li>
          <a [routerLink]="['home']">Home</a><br>
        </li>
        <li>
          <a [routerLink]="['clientes']">Clientes</a><br>
        </li>
        <li>
          <a [routerLink]="['login']">Cerrar Sesion</a><br>
        </li>
      </ul>
    </div>
  </mat-drawer>
  <div style="margin:5px 0px 0px 5px;">
    <button mat-raised-button color="default" (click) = "dver.toggle()"> <<>> </button>
  </div><br>
    
  <router-outlet></router-outlet>
  
</mat-drawer-container>
<footer class="footerStyle">
  <p>&copy; Heavy Machine S.R.L 2022. all right reserved</p>
</footer>