.tableMod{
    width: 75%;
    margin-left: 20px;
    background-color: bisque;
    margin-top: 40px;
}
th{
    font-size: large;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.buttonM{
    margin-left: 20px;
    margin-top: 25px;
}