.home{
    color: white;
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
}

strong{
    font-size: x-large;
}
p{
    font-size: medium;
}